body {
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

p {
  margin: 0px;
}

section {
  color: rgb(20, 84, 169)
}

.background-color-cadet-blue {
  background-color: cadetblue;
}